
<ion-content padding>
  <form [formGroup]="newExpenseForm">
    <ion-list inset>
      <ion-item>
        <ion-label floating>Merchant</ion-label>
        <ion-input #title ngControl="title" formControlName="title" type="text" [class.invalid]="!newExpenseForm.controls.title.valid" autofocus></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Total</ion-label>
        <ion-input #amount ngControl="amount" formControlName="amount" type="number" [class.invalid]="!newExpenseForm.controls.amount.valid"></ion-input>
      </ion-item>
      <ion-item *ngIf="itemExists">
        <ion-label>Shopping List</ion-label>
        <ion-select #list ngControl="selectedItems" formControlName="selectedItems" multiple="true">
          <ion-option *ngFor="let listItem of mylist | async">{{listItem.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Comments" #comments ngControl="comments" formControlName="comments"></ion-textarea>
      </ion-item>
      <!-- <button ion-button type="submit" color="dark" block>Add</button> -->

      <button ion-button block (tap)="createExpense()" [disabled]="(!newExpenseForm.valid)" color="dark">Save</button>
      <button ion-button block (tap)="cancelCreateExpense()" color="dark">Cancel</button>
    </ion-list>
  </form>
</ion-content>
