.cartIcon {
  text-align:right;
  background-color: #656565;
  padding: 2px;
  height: 3rem
}

.title {
    text-align: center;
    vertical-align: bottom;
}

.item-md {
  padding: 0px;
}

.text-input-md {
  margin: 13px 0px 13px 0px;
}
