page-home {
  .total {
      color:#a7050a;
      text-align: right;
      font-weight: 700;
    }
  .appName {
    text-align: center;
    vertical-align: bottom;
  }
  .item {
    line-height: 5px;
    padding-top: 5px;
    min-height: 0px;
  }
  .amount {
      text-align: right;
      vertical-align: middle;
      font-weight: 700;
    }
  .expenseTitle {
        text-align: left;
        font-weight: 700;
  }

  .expenseDay {
        text-align: right;
  }

  .expenseDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.expenseDetails {
  padding-bottom: 15px;
}

.item {
  padding-top: 0px;
}
.item-md {
  padding-left: 0px;
}
.label-md {
  margin: 0px;
}
.grid{
  padding-bottom: 15px;
}
.col{
  padding: 0px;
}
.item-md ion-icon[item-left], .item-md ion-icon[item-right] {
  margin: 3px;
}

.listHeader {
  padding-top: 16px;
}

}
