<ion-header>
  <ion-navbar>
    <ion-title>
      Paisa
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
      <ion-label>Date</ion-label>
      <ion-select [(ngModel)]="selectedYear" name="selectedYear" (ionChange)="yearChanged(selectedYear)">
        <ion-option *ngFor="let year of years" value="{{year.value}}">
          {{ year.name }}
        </ion-option>
      </ion-select>
      <ion-select [(ngModel)]="selectedMonth" name="selectedMonth" (ionChange)="monthChanged(selectedMonth)">
        <ion-option *ngFor="let month of months" value="{{month.value}}" >
          {{ month.name }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
        <ion-item class="item" text-wrap *ngFor="let item of filteredItems">
        <ion-grid>
          <ion-row text-wrap class="row">
            <ion-col width-50 class="expenseTitle">
              <ion-icon name="cart" item-left></ion-icon>
              {{ item.title }}
            </ion-col>
            <ion-col text-wrap width-50 class="expenseDay">
              {{ item.timestamp | date:'EEE'}}
            </ion-col>
            <ion-col width-50>{{ item.descShort }}</ion-col>
            <ion-col width-50 class="amount">${{item.amount}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>

    </ion-content>
