<ion-header>
  <ion-navbar>
    <ion-title>
      Paisa
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col width-20>
      <ion-label>Select </ion-label>
    </ion-col>
    <ion-col width-80>
      <ion-select class="monthYear" [(ngModel)]="selectedMonthYear" name="selectedMonthYear" (ionChange)="monthYearChanged($event, selectedMonthYear)">
        <ion-option *ngFor="let monthYear of monthYearsMap" [value]="monthYear.value">
          {{ monthYear.date | date:'MMMM' }} - {{ monthYear.date | date:'y' }}
        </ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let item of filteredItems">
      <p>{{ item.title }}</p>
      <p>{{ item.monthYear }}</p>
    </ion-item>
  </ion-list>
</ion-content>
